<layout name="Layout/content_new" />
    {:loadfile('__PUBLIC__/css/deep_blue/list','css')}
    {:loadfile('__PUBLIC__/js/mod/exam/exam_bloodpress','js')}

<script type="text/javascript">
    function init() {
        if (typeof (page_init) == "function")
            page_init();
    }
</script>
<div class="page-list-title">
    <div class="list-title" id="page-title">
        <label class="exam-form-title" id="lbltitle" >健康档案 - 血压/心率</label>
    </div>
</div>
<div class="page-list" id="page_content">
    <div class="exam-form-bg" style="background:url(__PUBLIC__/img/exam/exam_bg.png);padding:0px;">
        <div class="exam-from-col">
            <label class="exam-from-col-label">本段时间内，您总共测量了10次血压、10次心率，其中：</label>
        </div>
        <div class="exam-from-col">
            <label class="exam-from-col-label">血压正常</label>
            <label class="exam-form-label-green" >3次</label>
            <label class="exam-from-col-label">，轻度高：</label>
            <label class="exam-form-label-red">7次</label>
            <label class="exam-from-col-label">，低血压：</label>
            <label class="exam-form-label-red">0次</label>
        </div>
        <div class="exam-from-col">
            <label class="exam-from-col-label">心率正常：</label>
            <label class="exam-form-label-green">10次</label>
            <label class="exam-from-col-label">，心率较快：</label>
            <label class="exam-form-label-red">0次</label>
            <label class="exam-from-col-label">，心率较慢：</label>
            <label class="exam-form-label-red">0次</label>
        </div>
        <div class="exam-from-col">
            <label class="exam-from-col-label">如果您对数据报告有任何疑问，请及时咨询私人医生。</label>
        </div>
        <div class="exam-from-col">
            <label class="exam-from-col-label">研究表明，血压值对心血管疾病影响很大，根据您的血压情况预测，目前您患心血管病的风险等级是</label>
            <img src="../../app/home/Public/img/exam/exam_dfx.png" />
            
            <label  class="exam-from-col-label">，建议您立即进行心血管病风险评估，可以得到更精确的评估结果和完善的建议。</label>
        </div>
    </div>
    <div class="exam-form-right">
        <img src="../../app/home/Public/img/exam/exam_right.png" />
    </div>
</div>
