<layout name="Layout/content_new" />
    {:loadfile('__PUBLIC__/css/dance/chao','css')}
    {:loadfile('__PUBLIC__/css/reset','css')}
    {:loadfile('__PUBLIC__/css/deep_blue/info','css')}
    {:loadfile('__PUBLIC__/js/base/formEvent','js')}
    {:loadfile('__PUBLIC__/js/jquery.min','js')}
 
<script type="text/javascript">
    function init() {
        if (typeof (page_init) == "function")
            page_init();
    }
</script>
<style>
	.page{
		background: url(/app/Home/Public/img/bg1.png) no-repeat;
	}
</style>
<div id="header">
	<h2 style="background:url(/app/Home/Public/img/list/chao/wu.png) no-repeat 118px 0;">舞林潮人</h2>
</div>
<div class="list">
	<div class="dance_load">
		<dl id="dl1" data-right="dl2" data-down="dl5">
			<dt style="background:url(/app/Home/Public/img/list/chao/ren.png) no-repeat"></dt>
			<dd>
				<i style="background-image:url(/app/Home/Public/img/list/chao/ren.png)"></i>
				<span>
					何月秋
				</span>
				<em style="background:url(/app/Home/Public/img/list/chao/shou.png) no-repeat 0 5px;">1360</em>
			</dd>
		</dl>
		<dl id="dl1" data-right="dl2" data-down="dl5">
			<dt style="background:url(/app/Home/Public/img/list/chao/ren.png) no-repeat"></dt>
			<dd>
				<i style="background-image:url(/app/Home/Public/img/list/chao/ren.png)"></i>
				<span>
					何月秋
				</span>
				<em style="background:url(/app/Home/Public/img/list/chao/shou.png) no-repeat 0 5px;">1360</em>
			</dd>
		</dl>
		<dl id="dl1" data-right="dl2" data-down="dl5">
			<dt style="background:url(/app/Home/Public/img/list/chao/ren.png) no-repeat"></dt>
			<dd>
				<i style="background-image:url(/app/Home/Public/img/list/chao/ren.png)"></i>
				<span>
					何月秋
				</span>
				<em style="background:url(/app/Home/Public/img/list/chao/shou.png) no-repeat 0 5px;">1360</em>
			</dd>
		</dl>
		<dl id="dl1" data-right="dl2" data-down="dl5">
			<dt style="background:url(/app/Home/Public/img/list/chao/ren.png) no-repeat"></dt>
			<dd>
				<i style="background-image:url(/app/Home/Public/img/list/chao/ren.png)"></i>
				<span>
					何月秋
				</span>
				<em style="background:url(/app/Home/Public/img/list/chao/shou.png) no-repeat 0 5px;">1360</em>
			</dd>
		</dl>
		<dl id="dl1" data-right="dl2" data-down="dl5">
			<dt style="background:url(/app/Home/Public/img/list/chao/ren.png) no-repeat"></dt>
			<dd>
				<i style="background-image:url(/app/Home/Public/img/list/chao/ren.png)"></i>
				<span>
					何月秋
				</span>
				<em style="background:url(/app/Home/Public/img/list/chao/shou.png) no-repeat 0 5px;">1360</em>
			</dd>
		</dl>
		<dl id="dl1" data-right="dl2" data-down="dl5">
			<dt style="background:url(/app/Home/Public/img/list/chao/ren.png) no-repeat"></dt>
			<dd>
				<i style="background-image:url(/app/Home/Public/img/list/chao/ren.png)"></i>
				<span>
					何月秋
				</span>
				<em style="background:url(/app/Home/Public/img/list/chao/shou.png) no-repeat 0 5px;">1360</em>
			</dd>
		</dl>
		<dl id="dl1" data-right="dl2" data-down="dl5">
			<dt style="background:url(/app/Home/Public/img/list/chao/ren.png) no-repeat"></dt>
			<dd>
				<i style="background-image:url(/app/Home/Public/img/list/chao/ren.png)"></i>
				<span>
					何月秋
				</span>
				<em style="background:url(/app/Home/Public/img/list/chao/shou.png) no-repeat 0 5px;">1360</em>
			</dd>
		</dl>
		<dl id="dl1" data-right="dl2" data-down="dl5">
			<dt style="background:url(/app/Home/Public/img/list/chao/ren.png) no-repeat"></dt>
			<dd>
				<i style="background-image:url(/app/Home/Public/img/list/chao/ren.png)"></i>
				<span>
					何月秋
				</span>
				<em style="background:url(/app/Home/Public/img/list/chao/shou.png) no-repeat 0 5px;">1360</em>
			</dd>
		</dl>
	</div>
</div>