<layout name="Layout/content_new" />
    {:loadfile('__PUBLIC__/css/dance/dance','css')}
    {:loadfile('__PUBLIC__/css/reset','css')}
    {:loadfile('__PUBLIC__/css/deep_blue/info','css')}
    {:loadfile('__PUBLIC__/js/base/formEvent','js')}
    {:loadfile('__PUBLIC__/js/jquery.min','js')}
    {:loadfile('__PUBLIC__/js/mod/dance/dance','js')}
<script type="text/javascript">
    function init() {
        if (typeof (page_init) == "function")
            page_init();
    }
</script>
<style>
	.page{
		background: url(/app/Home/Public/img/bg1.png) no-repeat;
	}
</style>
<div id="header">
	<h2 id="category_name"style="background:url(/app/Home/Public/img/list/dance/sign.png) no-repeat 118px 11px;">最新热舞</h2>
</div>
<div class="list">
	<div class="dance_load clear">
		<div class="tui_wrap"></div>
		<!--<dl id="dl1" data-right="dl2" data-down="dl5">
			<dt><img src="/app/Home/Public/img/list/dance/dance.png" alt="" /></dt>
			<dd>舞曲：<span><<马兰花>></span></dd>
			<dd>作者：<span>张春丽</span></dd>
			<dd style="position:relative;padding-left:23px;padding-bottom:6px;"><span><i style="display:block;position:absolute;left:0;top:2px;width:21px;height:21px;background:url(/app/Home/Public/img/list/dance/play.png) no-repeat;"></i>3.46万</span></dd>
		</dl>
		<dl id="dl2" data-right="dl3" data-down="dl6" data-left="dl1">
			<dt><img src="/app/Home/Public/img/list/dance/dance.png" alt="" /></dt>
			<dd>舞曲：<span><<马兰花>></span></dd>
			<dd>作者：<span>张春丽</span></dd>
			<dd style="position:relative;padding-left:23px;padding-bottom:6px;"><span><i style="display:block;position:absolute;left:0;top:2px;width:21px;height:21px;background:url(/app/Home/Public/img/list/dance/play.png) no-repeat;"></i>3.46万</span></dd>
		</dl>
		<dl>
			<dt><img src="/app/Home/Public/img/list/dance/dance.png" alt="" /></dt>
			<dd>舞曲：<span><<马兰花>></span></dd>
			<dd>作者：<span>张春丽</span></dd>
			<dd style="position:relative;padding-left:23px;padding-bottom:6px;"><span><i style="display:block;position:absolute;left:0;top:2px;width:21px;height:21px;background:url(/app/Home/Public/img/list/dance/play.png) no-repeat;"></i>3.46万</span></dd>
		</dl>
		<dl>
			<dt><img src="/app/Home/Public/img/list/dance/dance.png" alt="" /></dt>
			<dd>舞曲：<span><<马兰花>></span></dd>
			<dd>作者：<span>张春丽</span></dd>
			<dd style="position:relative;padding-left:23px;padding-bottom:6px;"><span><i style="display:block;position:absolute;left:0;top:2px;width:21px;height:21px;background:url(/app/Home/Public/img/list/dance/play.png) no-repeat;"></i>3.46万</span></dd>
		</dl>
		<dl>
			<dt><img src="/app/Home/Public/img/list/dance/dance.png" alt="" /></dt>
			<dd>舞曲：<span><<马兰花>></span></dd>
			<dd>作者：<span>张春丽</span></dd>
			<dd style="position:relative;padding-left:23px;padding-bottom:6px;"><span><i style="display:block;position:absolute;left:0;top:2px;width:21px;height:21px;background:url(/app/Home/Public/img/list/dance/play.png) no-repeat;"></i>3.46万</span></dd>
		</dl>
		<dl>
			<dt><img src="/app/Home/Public/img/list/dance/dance.png" alt="" /></dt>
			<dd>舞曲：<span><<马兰花>></span></dd>
			<dd>作者：<span>张春丽</span></dd>
			<dd style="position:relative;padding-left:23px;padding-bottom:6px;"><span><i style="display:block;position:absolute;left:0;top:2px;width:21px;height:21px;background:url(/app/Home/Public/img/list/dance/play.png) no-repeat;"></i>3.46万</span></dd>
		</dl>
		<dl>
			<dt><img src="/app/Home/Public/img/list/dance/dance.png" alt="" /></dt>
			<dd>舞曲：<span><<马兰花>></span></dd>
			<dd>作者：<span>张春丽</span></dd>
			<dd style="position:relative;padding-left:23px;padding-bottom:6px;"><span><i style="display:block;position:absolute;left:0;top:2px;width:21px;height:21px;background:url(/app/Home/Public/img/list/dance/play.png) no-repeat;"></i>3.46万</span></dd>
		</dl>
		<dl>
			<dt><img src="/app/Home/Public/img/list/dance/dance.png" alt="" /></dt>
			<dd>舞曲：<span><<马兰花>></span></dd>
			<dd>作者：<span>张春丽</span></dd>
			<dd style="position:relative;padding-left:23px;padding-bottom:6px;"><span><i style="display:block;position:absolute;left:0;top:2px;width:21px;height:21px;background:url(/app/Home/Public/img/list/dance/play.png) no-repeat;"></i>3.46万</span></dd>
		</dl>-->
	</div>
</div>