<layout name="Layout/content_new" />
    {:loadfile('__PUBLIC__/js/base/new2.0/tableEvent','js')}
    {:loadfile('__PUBLIC__/js/base/new2.0/navevent','js')}
    {:loadfile('__PUBLIC__/js/mod/list/list_goods','js')}
<script type="text/javascript">
    function init() {
        if (typeof (page_init) == "function")
            page_init();
    }
</script>
<div id="page_navbar" style="padding-left:128px;padding-top:15px;" class="page-navbar">
</div>
<div id="page_content" style="padding-left:118px;margin-top:120px;" class="page-content">
</div>
