<layout name="Layout/content_new" />
    {:loadfile('__PUBLIC__/css/dance/wudui','css')}
    {:loadfile('__PUBLIC__/css/reset','css')}
    {:loadfile('__PUBLIC__/css/deep_blue/info','css')}
    {:loadfile('__PUBLIC__/js/base/formEvent','js')}
    {:loadfile('__PUBLIC__/js/jquery.min','js')}
    {:loadfile('__PUBLIC__/js/mod/dance/dance','js')}
<script type="text/javascript">
    function init() {
        if (typeof (page_init) == "function")
            page_init();
    }
</script>
<style>
	.page{
		background: url(/app/Home/Public/img/bg1.png) no-repeat;
	}
</style>
<div id="header">
	<h2 style="background:url(/app/Home/Public/img/list/wudui/sign_wu.png) no-repeat 118px 23px;">酷炫舞队</h2>
</div>
<div class="list">
	<div class="dance_load">
		<dl id="dl1" data-right="dl2" data-down="dl5">
			<dt><img src="/app/Home/Public/img/list/dance/dance.png" alt="" /></dt>
			<dd>人气：<span>9630个</span><i style="background:url(/app/Home/Public/img/list/wudui/zan.png) no-repeat;"></i></dd>
			<dd>舞队：<span>张春丽</span></dd>	
		</dl>
		<dl id="dl2" data-right="dl2" data-down="dl5">
			<dt><img src="/app/Home/Public/img/list/dance/dance.png" alt="" /></dt>
			<dd>人气：<span>9630个</span><i style="background:url(/app/Home/Public/img/list/wudui/zan.png) no-repeat;"></i></dd>
			<dd>舞队：<span>张春丽</span></dd>	
		</dl>
		<dl id="dl3" data-right="dl2" data-down="dl5">
			<dt><img src="/app/Home/Public/img/list/dance/dance.png" alt="" /></dt>
			<dd>人气：<span>9630个</span><i style="background:url(/app/Home/Public/img/list/wudui/zan.png) no-repeat;"></i></dd>
			<dd>舞队：<span>张春丽</span></dd>	
		</dl>
		<dl id="dl4" data-right="dl2" data-down="dl5">
			<dt><img src="/app/Home/Public/img/list/dance/dance.png" alt="" /></dt>
			<dd>人气：<span>9630个</span><i style="background:url(/app/Home/Public/img/list/wudui/zan.png) no-repeat;"></i></dd>
			<dd>舞队：<span>张春丽</span></dd>	
		</dl>
		<dl id="dl5" data-right="dl2" data-down="dl5">
			<dt><img src="/app/Home/Public/img/list/dance/dance.png" alt="" /></dt>
			<dd>人气：<span>9630个</span><i style="background:url(/app/Home/Public/img/list/wudui/zan.png) no-repeat;"></i></dd>
			<dd>舞队：<span>张春丽</span></dd>	
		</dl>
		<dl id="dl6" data-right="dl2" data-down="dl5">
			<dt><img src="/app/Home/Public/img/list/dance/dance.png" alt="" /></dt>
			<dd>人气：<span>9630个</span><i style="background:url(/app/Home/Public/img/list/wudui/zan.png) no-repeat;"></i></dd>
			<dd>舞队：<span>张春丽</span></dd>	
		</dl>
		<dl id="dl7" data-right="dl2" data-down="dl5">
			<dt><img src="/app/Home/Public/img/list/dance/dance.png" alt="" /></dt>
			<dd>人气：<span>9630个</span><i style="background:url(/app/Home/Public/img/list/wudui/zan.png) no-repeat;"></i></dd>
			<dd>舞队：<span>张春丽</span></dd>	
		</dl>
		<dl id="dl8" data-right="dl2" data-down="dl5">
			<dt><img src="/app/Home/Public/img/list/dance/dance.png" alt="" /></dt>
			<dd>人气：<span>9630个</span><i style="background:url(/app/Home/Public/img/list/wudui/zan.png) no-repeat;"></i></dd>
			<dd>舞队：<span>张春丽</span></dd>	
		</dl>
	</div>
</div>