<layout name="Layout/content_new" />
    {:loadfile('__PUBLIC__/js/mod/goods/goods_cart','js')}
<script type="text/javascript">
    function init() {
        if (typeof (page_init) == "function")
            page_init();
    }
</script>
<style>
	.label label{
		
		display:inline-block;
		height:44px;
		width:120px;
		line-height:32px;
		text-align: center;
		font-size:18px;
		box-sizing:border-box;
		float:left;
	}
</style>
<div class="goods-top">
    <div class="goods-info-title" id="page-title">
        <label id="lbltitle">购物车</label>
    </div>
</div>
<div class="goods-center" id="page_content">
    <div style="height:45px;text-align:left;"class="label">
        <span style="margin-left:149px;font-size:21px;color:#eeeeee;float:left;">已购1件商品，总计1609元</span>
        <label style="margin-left:320px;color:#eeeeee;padding:5px;background:url(/app/Home/Public/img/goods/empty.png) no-repeat" id="btnclear" data-down="tr_item1" data-right="btnpay">清空购物车</label>
        <label style="margin-left:10px;color:#eeeeee;padding:5px;background:url(/app/Home/Public/img/goods/cal.png) no-repeat" id="btnpay" data-down="tr_item1" data-right="btnadd" data-left="btnclear">去结算</label>
        <label style="margin-left:10px;color:#eeeeee;padding:5px;background:url(/app/Home/Public/img/goods/cal.png) no-repeat" id="btnadd" data-down="tr_item1" data-left="btnpay">继续购物</label>
    </div>
    <div style="margin-top:16px;margin-left:149px;width:983px;height:487px;background-image:url(/app/Home/Public/img/goods/goods_cart_back.png)">
        <table style="border:0px solid ;width:983px;border-collapse:collapse ;" cellpadding="0" cellspacing="0">
            <thead>
                <tr style="height:76px;">
                    <td colspan="5"></td>
                </tr>
            </thead>
            <tbody id="tbody">
                <tr style="height:116px;border:0px solid;" id="tr_item1" data-up="btnpay">
                    <td style="width:115px;vertical-align:central;">
                        <img style="margin-left:21px;" src="/app/Home/Public/img/goods/goods_cart_sel_img.png" id="img_sel" />
                    </td>
                    <td style="width:100px;vertical-align:central;">
                        <img style="margin-left:0px;margin-top:8px;width:100px;height:100px;" src="/app/Home/Public/img/goods/goods_info.png" />
                    </td>
                    <td style="width:420px;vertical-align:central;text-align:left">
                        <label style="font-size:21px;color:#eeeeee;margin-left:20px;">欧姆龙电子血压计</label>
                    </td>
                    <td style="width:140px;text-align:center;vertical-align:central;">
                        <img src="/app/Home/Public/img/goods/goods_order_min.png">
                        <label style="font-size:24px;color:#eeeeee;margin-left:20px;margin-right:20px;" id="num_sub">1</label>
                        <img src="/app/Home/Public/img/goods/goods_order_add.png">
                    </td>
                    <td style="vertical-align:central;text-align:center;border-color:#eeeeee;">
                        <label style="font-size:21px;color:#eeeeee;">￥1609.00</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
