<layout name="Layout/content_new" />
    {:loadfile('__PUBLIC__/css/deep_blue/info','css')}
    {:loadfile('__PUBLIC__/js/base/formEvent','js')}
    {:loadfile('__PUBLIC__/js/mod/map/mapinfo','js')}
    {:loadfile('__PUBLIC__/data/tp_maplist','js')}
<script type="text/javascript">
    function init() {
        if (typeof (page_init) == "function")
            page_init();
    }
</script>

<div class="mapinfo-left">
    <div class="mapinfo-left-title">
        <label id="map_name"></label>
    </div>
    <div class="mapinfo-left-map" id="mapctr">
        <iframe src="" id="mappage" style="width:100%;height:100%;display:none;" frameborder="0" scrolling="no"></iframe>
        <img id="magimg" style="width:100%;height:100%" />
    </div>
</div>
<div class="mapinfo-right">
    <div class="mapinfo-left-content">
        <div class="mapinfo-left-content-top" id="content-top">

        </div>
        <div class="mapinfo-left-content-center" id="content-center">
            <!--<div class="mapinfo-right-item" id="map1" url="http://10.10.20.11:15150/map/rccf/rccf1.html" data-down="map2">
                <label>荣畅厨房</label>
                <br />
                <label>参考价: ￥30</label>
                <br />
                <label>北京市朝阳区呼家楼西里南街2号</label>
                <br />
                <label>电话：18515826520</label>
            </div>
            <div class="mapinfo-right-item" id="map2" url="http://10.10.20.11:15150/map/rccf/rccf2.html" data-up="map1">
                <label>幸福彩虹荣畅便利店(利泽西园店)</label>
                <br />
                <label>参考价: ￥30</label>
                <br />
                <label>望京广顺北大街利泽西园小区西门往来阁西10米</label>
                <br />
                <label>电话：18515826520</label>
            </div>-->
        </div>
        <div class="mapinfo-left-content-bottom" id="content-bottom">

        </div>      
    </div>
</div>
