<layout name="Layout/content_new" />
    {:loadfile('__PUBLIC__/css/deep_blue/list','css')}
    {:loadfile('__PUBLIC__/js/mod/exam/exam_pulmonary','js')}

<script type="text/javascript">
    function init() {
        if (typeof (page_init) == "function")
            page_init();
    }
</script>
<div class="page-list-title">
    <div class="list-title" id="page-title">
        <label id="lbltitle">健康档案 - 肺功能</label>
    </div>
</div>
<div class="page-list" id="page_content">
    <div class="exam-form-bg" style="background-image:url(__PUBLIC__/img/exam/exam_bg.png);padding:0px;">
        <div style="text-align:center;padding-top:150px;">
            <label style="font-size:33px;">系统维护中</label>
        </div>
    </div>
</div>
