<layout name="Layout/content_new" />
	{:loadfile('__PUBLIC__/css/reset','css')}
	{:loadfile('__PUBLIC__/js/base/new2.0/tableEvent','js')}
	{:loadfile('__PUBLIC__/js/jquery.min','js')}  
	{:loadfile('__PUBLIC__/css/toolBar/toolBar','css')}    
	{:loadfile('__PUBLIC__/js/mod/toolBar/toolBar','js')}
<script type="text/javascript">
    function init() {
        if (typeof (page_init) == "function")
            page_init();
    }
</script>
<div id="content_tool"style="background:url(/app/Home/Public/img/bg1.png) no-repeat;">
	<div class="wrap_tool">
		<ul class="tool_load">
			<!--<li data-right='li2' id="li1" style="background:url(/app/Home/Public/img/ToolBar/my12.png) no-repeat;"></li>
			<li data-right='li3' data-left='li1' id="li2" style="background:url(/app/Home/Public/img/ToolBar/xi21.png) no-repeat;"></li>
			<li data-right='li4' data-left='li2' id="li3" style="background:url(/app/Home/Public/img/ToolBar/shou31.png) no-repeat;"></li>
			<li data-left='li3' id="li4" style="background:url(/app/Home/Public/img/ToolBar/zui41.png) no-repeat;"></li>-->
		</ul>
	</div>
</div>
