<html>
<head>
    <meta name="page-view-size" content="{$reso}" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>养老门户</title>
    {:loadfile('__PUBLIC__/css/deep_blue/layout','css')}
    {:loadfile('__PUBLIC__/js/base/util','js')}
    {:loadfile('__PUBLIC__/js/base/keyevent','js')}
    {:loadfile('__PUBLIC__/js/base/controlEvent','js')}
    {:loadfile('__PUBLIC__/js/base/popupEvent','js')}
    {:loadfile('__PUBLIC__/js/base/enumCollection','js')}
    {:loadfile('__PUBLIC__/js/tools/guid','js')}
    {:loadfile('__PUBLIC__/js/tools/loadimg','js')}
    {:loadfile('__PUBLIC__/js/tools/useraction','js')}
    {:loadfile('__PUBLIC__/js/tools/CyberHelper','js')}
    {:loadfile('__PUBLIC__/js/tools/MsgHelper','js')}
    {:loadfile('__PUBLIC__/js/globalconfig','js')}
    {:loadfile('__PUBLIC__/js/common','js')}    
    <script type="text/javascript">
        var m_reso = '{$reso}';
        var m_publicUrl = '__PUBLIC__';
        var m_baseUrl = '__SELF__';
        var m_rootUrl = '__ROOT__';
        var m_usercode = '';
        var m_user_session = '';
        var m_areacode = '';
        var m_websitecode = '';
        var m_tp_tps_url = "{$tp_tps_url}";
        var m_tp_pms_url = "{$tp_pms_url}";
        var m_tp_cbs_url = "{$tp_cbs_url}";
        var m_tp_ls_url = "{$tp_ls_url}";
        var m_tp_tvportal_url = "{$tp_tvportal_url}";
        var m_tp_gsm_url = "{$tp_gsm_url}";
        var m_tp_pics_url = "{$tp_pics_url}";
        var m_cyber_tvportal_id = "{$cyber_tvportal_id}";
        var m_cyber_tenantid = "{$cyber_tenantid}";
        var m_cyber_epg_id = "{$cyber_epg_id}";
    </script>
</head>
<body onload="init()">
    <!--style="background-image: url(__PUBLIC__/img/BG.png);"-->
    <div class="wp" id="divwp">
        <div class="page">{__CONTENT__}<div class="page-footer">
                <div id="footer" class="tip">
                    <label>按&lt;返回&gt;键返回上一页</label>
                </div>
            </div>
        </div>
    </div>
    <!--<div tabindex="0" style="width: 1280px; height: 720px;" class="tp-popup-backdrop">
        <div tabindex="-1" id="box-title" class="tp-popup-box">
            <div id="sub" class="tp-popup-sub ">
                <div id="box-content" class="tp-popup-content">
                    this is test.
                </div>
            </div>
        </div>
    </div>-->
    <script type="text/javascript">
        common.initUrl();
        TpMsgHelper.Init();
    </script>
</body>
</html>