<layout name="Layout/content_new" />
    {:loadfile('__PUBLIC__/css/deep_blue/list','css')}
    {:loadfile('__PUBLIC__/js/mod/exam/exam_temperature_trend','js')}

<script type="text/javascript">
    function init() {
        if (typeof (page_init) == "function")
            page_init();
    }
</script>
<div class="page-list-title">
    <div class="list-title" id="page-title">
        <label class="exam-form-title" id="lbltitle">健康档案 - 体温趋势图</label>
    </div>
</div>
<div class="page-list" id="page_content">
    <!--
    background:url(__PUBLIC__/img/exam/exam_temperature_trend.png);
        486px
    -->

    <div class="exam-form-bg" id="dimg"  style="padding:0px;height:420px;">

    </div>
    <div class="exam-form-right" style="margin-top:-327px;">
        <img src="../../app/home/Public/img/exam/exam_right.png" />
    </div>
    <div class="exam-form-left" style="margin-top:-327px;">
        <img src="../../app/home/Public/img/exam/exam_left.png" />
    </div>
</div>
