<layout name="Layout/content_new" />
    {:loadfile('__PUBLIC__/css/deep_blue/list','css')}
    {:loadfile('__PUBLIC__/js/base/new2.0/tableEvent','js')}
    {:loadfile('__PUBLIC__/js/mod/list/list_restaurant','js')}
<script type="text/javascript">
    function init() {
        if (typeof (page_init) == "function")
            page_init();
    }
</script>
<div class="page-list-title">
    <div class="list-title" id="page-title">
        <label id="lbltitle">位置 > 歌华大厦</label>
    </div>
    <div class="list-pageNumber" id="page-number">
        <label>1</label>
        <label style="font-size: 20px;">/1</label>
    </div>
</div>
<div class="page-list" id="page_content">
    <table class="restaurant-table">
        <tbody>
            <tr>
                <td id="td0" style="width: 259px; height: 187px;" jumptype="6" data-left="" data-up="" data-right="td1" data-down="td4" appcode="" status="0"  contentcode="CT032016081600133">
                    <div class="tile wrap">
                        <img style="width: 259px; height: 187px; z-index:1" src="__PUBLIC__/img/canting/canting_clrj.jpg">
                    </div>
                    <div class="restaurant-table-content">
                        <label class="restaurant-table-content-name">粗粮人家（东直门店）</label>
                    </div>
                </td>
                <td id="td1" style="width: 259px; height: 187px;" jumptype="6" data-left="td0" data-up="" data-right="td2" data-down="td5" appcode="" status="1" contentcode="CT032016081600134">
                    <div class="tile">
                        <img style="width: 259px; height: 187px;" class="lazy" src="__PUBLIC__/img/canting/canting_hhg.jpg">
                    </div>
                    <div class="restaurant-table-content">
                        <label class="restaurant-table-content-name">和合谷(东城区和平里店)</label>
                    </div>
                    <div style="width:259px;height:187px">
                        <div class="restaurant-close-title" style="width:259px;height:187px;padding-top:90px;">
                            <label>暂停营业</label>
                        </div>
                        <div class="restaurant-close-shadow" style="width:259px;height:187px"></div>
                    </div>
                </td>
                <td id="td2" style="width: 259px; height: 187px;" jumptype="6" data-left="td1" data-up="" data-right="td3" data-down="td6" appcode="" status="1" contentcode="CT032016081600136">
                    <div class="tile">
                        <img style="width: 259px; height: 187px;" class="lazy" src="__PUBLIC__/img/canting/canting_hbw.jpg">
                    </div>
                    <div class="restaurant-table-content">
                        <label class="restaurant-table-content-name">汉堡王（环球贸易店）</label>
                    </div>
                    <div style="width:259px;height:187px">
                        <div class="restaurant-close-title" style="width:259px;height:187px;padding-top:90px;">
                            <label>暂停营业</label>
                        </div>
                        <div class="restaurant-close-shadow" style="width:259px;height:187px"></div>
                    </div>
                </td>
                <td id="td3" style="width: 259px; height: 187px;" jumptype="6" data-left="td2" data-up="" data-right="td4" data-down="td7" appcode="" status="1" contentcode="CT032016081600136">
                    <div class="tile">
                        <img style="width: 259px; height: 187px;" class="lazy" src="__PUBLIC__/img/canting/canting_jhyp.jpg">
                    </div>
                    <div class="restaurant-table-content">
                        <label class="restaurant-table-content-name">嘉和一品(交道口) </label>
                    </div>
                    <div style="width:259px;height:187px">
                        <div class="restaurant-close-title" style="width:259px;height:187px;padding-top:90px;">
                            <label>暂停营业</label>
                        </div>
                        <div class="restaurant-close-shadow" style="width:259px;height:187px"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td id="td4" style="width: 259px; height: 187px;" jumptype="6" data-left="td3" data-up="td0" data-right="td5" data-down="" appcode="" status="1" contentcode="CT032016081600136">
                    <div class="tile">
                        <img style="width: 259px; height: 187px;" class="lazy" src="__PUBLIC__/img/canting/canting_dll.jpg">
                    </div>
                    <div class="restaurant-table-content">
                        <label class="restaurant-table-content-name">大懒龙（东直门店）</label>
                    </div>
                    <div style="width:259px;height:187px">
                        <div class="restaurant-close-title" style="width:259px;height:187px;padding-top:90px;">
                            <label>暂停营业</label>
                        </div>
                        <div class="restaurant-close-shadow" style="width:259px;height:187px"></div>
                    </div>
                </td>
                <td id="td5" style="width: 259px; height: 187px;" jumptype="6" data-left="td4" data-up="td1" data-right="td6" data-down="" appcode="" status="1" contentcode="CT032016081600136">
                    <div class="tile">
                        <img style="width: 259px; height: 187px;" class="lazy" src="__PUBLIC__/img/canting/canting_jdx.jpg">
                    </div>
                    <div class="restaurant-table-content">
                        <label class="restaurant-table-content-name">金鼎轩（地坛店）</label>
                    </div>
                    <div style="width:259px;height:187px">
                        <div class="restaurant-close-title" style="width:259px;height:187px;padding-top:90px;">
                            <label>暂停营业</label>
                        </div>
                        <div class="restaurant-close-shadow" style="width:259px;height:187px"></div>
                    </div>
                </td>
                <td id="td6" style="width: 259px; height: 187px;" jumptype="6" data-left="td5" data-up="td2" data-right="td7" data-down="" appcode="" status="1" contentcode="CT032016081600136">
                    <div class="tile">
                        <img style="width: 259px; height: 187px;" class="lazy" src="__PUBLIC__/img/canting/canting_hgsxc.jpg">
                    </div>
                    <div class="restaurant-table-content">
                        <label class="restaurant-table-content-name">护国寺小吃（柳芳店）</label>
                    </div>
                    <div style="width:259px;height:187px">
                        <div class="restaurant-close-title" style="width:259px;height:187px;padding-top:90px;">
                            <label>暂停营业</label>
                        </div>
                        <div class="restaurant-close-shadow" style="width:259px;height:187px"></div>
                    </div>
                </td>
                <td id="td7" style="width: 259px; height: 187px;" jumptype="6" data-left="td6" data-up="td3" data-right="" data-down="" appcode="" status="1" contentcode="CT032016081600136">
                    <div class="tile">
                        <img style="width: 259px; height: 187px;" class="lazy" src="__PUBLIC__/img/canting/canting_cg.jpg">
                    </div>
                    <div class="restaurant-table-content">
                        <label class="restaurant-table-content-name">姚记炒肝（北新桥店）</label>
                    </div>
                    <div style="width:259px;height:187px">
                        <div class="restaurant-close-title" style="width:259px;height:187px;padding-top:90px;">
                            <label>暂停营业</label>
                        </div>
                        <div class="restaurant-close-shadow" style="width:259px;height:187px"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
