<layout name="Layout/content_new" />
    {:loadfile('__PUBLIC__/css/deep_blue/list','css')}
    {:loadfile('__PUBLIC__/js/mod/exam/exam_sleep_data','js')}

<script type="text/javascript">
    var arrowurl = "__PUBLIC__/img/exam/exam_arrow.png";
    var arrow_down_url = "__PUBLIC__/img/exam/exam_arrow_down.png";
    function init() {
        if (typeof (page_init) == "function")
            page_init();
    }
</script>
<style type="text/css">
    table {
        border-collapse: collapse;
        border: none;
        width: 200px;
    }

    td {
        border: solid #000 1px;
        border-color: #555555;
    }

    th {
        border: solid #000 1px;
        border-color: #555555;
    }
</style>
<div class="page-list-title">
    <div class="list-title" id="page-title">
        <label class="exam-form-title" id="lbltitle">健康档案 - 睡眠历史数据</label>
    </div>
</div>
<div class="page-list" id="page_content">
    <div class="exam-form-bg" style="background:url(__PUBLIC__/img/exam/exam_bg.png);padding:0px;">
        <table class="exam-form-table">
            <thead style="background-color:#132037;">
                <tr>
                    <th >
                        <label>日期</label>
                    </th>
                    <th >
                        <label>入睡时间</label>                      
                    </th>
                    <th >
                        <label>醒来时间</label>
                    </th>
                    <th >
                        <label>醒的次数</label>
                    </th>
                    <th>
                        <label>总睡眠</label>
                        <br />
                        <label>时间</label>
                    </th>
                    <th>
                        <label>浅睡眠</label>
                        <br />
                        <label>时间</label>
                    </th>
                    <th>
                        <label>深度睡眠</label>
                        <br />
                        <label>时间</label>
                    </th>
                    <th>
                        <label>清醒时间</label>
                    </th>
                    <!--<th>
                        <label>卧床时间</label>
                    </th>-->
                    <th>
                        <label>测量设备</label>
                    </th>
                </tr>
            </thead>
            <tbody id="tbbody" class="exam-form-table"></tbody>
        </table>
    </div>
    <div class="exam-form-left">
        <img src="../../app/home/Public/img/exam/exam_left.png" />
    </div>
    <div class="exam-form-up" id="upctr">
        <img src="../../app/home/Public/img/exam/exam_up.png" />
    </div>
    <div class="exam-form-down" id="downctr">
        <img src="../../app/home/Public/img/exam/exam_down.png" />
    </div>
</div>
