<layout name="Layout/content" />
    {:loadfile('__PUBLIC__/js/base/formEvent','js')}
    {:loadfile('__PUBLIC__/js/mod/img/imgview','js')}
<script type="text/javascript">
    function init() {
        if (typeof (page_init) == "function")
            page_init();
    }
</script>
<div id="imgdiv" class="page-img">
    
</div>
<div id="d_left" class="page-img-d-left">
    <img src="__PUBLIC__/img/img/left.png" />
</div>
<div id="d_right" class="page-img-d-right">
    <img src="__PUBLIC__/img/img/right.png" />
</div>
