<layout name="Layout/content_new" />
    {:loadfile('__PUBLIC__/css/deep_blue/list','css')}
    {:loadfile('__PUBLIC__/css/deep_blue/addcard','css')}

    {:loadfile('__PUBLIC__/js/mod/oldcard/oldcard_info','js')}
<script type="text/javascript">
    function init() {
        if (typeof (page_init) == "function")
            page_init();
    }
</script>
<div class="oldcard-page-list-title">
    <div class="oldcard-list-title ">
        <label>老年卡信息页</label>
        <hr />
    </div>
</div>
<div class="page-addcard">
    <div class="form-item oldcardinfo" style="height:100%">
        <div class="item-1" style="width:490px; " >
            <table class="oldcard-left"  >
                <tr>
                    <td class="td">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</td>
                    <td class="tdes">张三</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="tdes">
                        <table>
                            <tr>
                                <td id="td0" data-right="td1" data-down="td2">
                                    <div class="tile oldcard-info-rad" >
                                        <input type="radio" style="margin:2px;" id="rdyl" name="rdyl" checked="checked" />
                                        养老卡
                                    </div>
                                </td>
                                <td id="td1" data-right="td3" data-down="td2" data-left="td0">
                                    <div class="tile oldcard-info-rad oldcard-info-noborder" >
                                        <input type="radio" id="rdzc" style="margin:2px;" name="rdzc" />
                                        助残卡
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="td">卡&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</td>
                    <td class="tdes">119397293728617</td>
                </tr>
                <tr>
                    <td class="td">卡内余额：</td>
                    <td class="tdes">103.30元</td>
                </tr>
                <tr>
                    <td class="td">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：</td>
                    <td class="tdes">13704836423</td>
                </tr>
                <tr>
                    <td class="td">住&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</td>
                    <td class="tdes">北京市朝阳区三里屯优衣库2单元305</td>
                </tr>
                <tr>
                    <td></td>
                    <td id="td2" data-up="td0" data-right="td3" style="height:138px;">
                        <div class="tile" style="width:168px; height:48px;">
                            <img style="width:168px; height:48px;" src="__PUBLIC__/img/oldcard/relieve.png" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="item-2">
            <table class="oldcard-right"  style="border:solid#000 1px;border-color:darkgrey;">
                <thead>
                    <tr>
                        <th id="td3" data-right="td4" data-down="td2" data-left="td1" style="width:260px; height:70px;">
                            <div class="tile oldcard-info-rad oldcard-info-noborder" style="width:170px; height:40px; margin-left:40px; line-height:40px;text-align:center;">消费记录</div>
                        </th>
                        <th id="td4" data-right="td5" data-down="td2" data-left="td3" style="width:192px;">
                            <div class="tile oldcard-info-rad oldcard-info-noborder" style="width:170px; height:40px; line-height:40px;">发放记录</div>
                        </th>
                        <th id="td5" data-left="td4" data-down="td2" style="width:187px;">
                            <div class="tile oldcard-info-rad oldcard-info-noborder" style="width:170px; height:40px; line-height:40px">打折信息</div>
                        </th>
                    </tr>
                    <tr id="trtitle" style="border:solid#000 1px;border-color:darkgrey;">
                        <td >消费时间</td>
                        <td>消费内容</td>
                        <td>消费金额</td>
                    </tr>
                </thead>
                <tbody id="tblist">
                    <!--
                    <tr id="xiao2">
                        <td >2016.02.16&nbsp;&nbsp;11:08:22</td>
                        <td>庆丰包子</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <td ></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    -->
                </tbody>
                <tbody>
                    <tr>
                        <td id="td6" colspan="3" align="center" style="text-align:center;height:50px;" data-up="td3" data-left="td2">
                            <div class="tile oldcard-info-rad oldcard-info-noborder" style="margin-left:267px;width:110px; height:33px;display:none;">
                                <img style="width:110px; height:33px;" src="__PUBLIC__/img/oldcard/向下按钮默认.png" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--<table style="width:100px; height:35px;  float:right; margin-right:355px;">
                <tr id="text">
                    <td id="td6" data-up="td3">
                        <div class="tile" style="width:110px; height:33px;">
                            <img style="width:110px; height:33px;" src="__PUBLIC__/img/oldcard/向下按钮默认.png" />
                        </div>
                    </td>
                </tr>
            </table>-->
        </div>
    </div>
</div>
