<layout name="Layout/content_new" />
    {:loadfile('__PUBLIC__/js/mod/accompany/accompany_index','js')}

<script type="text/javascript">
    function init() {
        if (typeof (page_init) == "function")
            page_init();
    }
</script>
<div class="list-category-top">
    <div class="list-category-title" id="page-title">
        58-陪护
    </div>
</div>
<div class="list-category-content" id="page_content">
   <div style="margin-top:20px;">
       <img src="__PUBLIC__/img/peihu/index_bg.png" />
   </div>
    <div style="margin-top:-40px;text-align:center">
        <label style="font-size:18px;color:#eeeeee;">提供一站式找保姆、钟点工、月嫂、育婴师、育儿嫂等陪护服务</label>
        <br />
        <label style="font-size:18px;color:#eeeeee;">让我们一起来寻找最合心意的服务吧~</label>
    </div>
    <div style="margin-top:50px;text-align:center">
        <label style="text-align:center;padding:5px;padding-left:20px;padding-right:20px;font-size:22px;" id="btn_next">下一步</label>
    </div>
</div>
