<layout name="Layout/content_new" />
    {:loadfile('__PUBLIC__/js/mod/accompany/accompany_order2','js')}

<script type="text/javascript">
    function init() {
        if (typeof (page_init) == "function")
            page_init();
    }
</script>
<div class="list-category-top">
    <div class="list-category-title" id="page-title">
        58-陪护
    </div>
</div>
<div class="list-category-content" id="page_content">
    <div style="float:left;margin-left:81px;" id="d1" data-right="d2">
       <img src="__PUBLIC__/img/peihu/order2_zj.png" />
    </div>
    <div style="float:left;margin-left:53px;" id="d2" data-right="d3" data-left="d1">
        <img src="__PUBLIC__/img/peihu/order2_bz.png" />
    </div>
    <div style="float:left;margin-left:53px;" id="d3" data-left="d2">
        <img src="__PUBLIC__/img/peihu/order2_zdg.png" />
    </div>
</div>
