<layout name="Layout/content_new" />
    {:loadfile('__PUBLIC__/js/mod/accompany/accompany_order1','js')}

<script type="text/javascript">
    function init() {
        if (typeof (page_init) == "function")
            page_init();
    }
</script>
<div class="list-category-top">
    <div class="list-category-title" id="page-title">
        58-陪护
    </div>
</div>
<div class="list-category-content" id="page_content">
    <div style="style=" height:440px;"">
        <table id="5a1834ac-f819-9238-693b-16b53ab1f0d8">
            <tbody>
                <tr>
                    <td id="td0" style="width: 238px; height: 200px;" data-down="td4" data-right="td1" jumptype="4" pagecode="6" exampage="0" itemname="" itemnametype="0">
                        <div class="tile">
                            <img id="CM20160912001_td0" class="lazy" src="__PUBLIC__/img/peihu/order_zf.png" data-src="__PUBLIC__/img/peihu/order_zf.png">
                        </div>
                        <div class="wrap-new" style="width: 250px; height: 230px;">
                        </div>
                    </td>
                    <td id="td1" style="width: 238px; height: 200px;" data-down="td5" data-left="td0" data-right="td2" jumptype="4" pagecode="6" exampage="1" itemname="" itemnametype="0">
                        <div class="tile">
                            <img id="CM20160912001_td1" class="lazy" src="__PUBLIC__/img/peihu/order_zjw.png" data-src="__PUBLIC__/img/peihu/order_zjw.png">
                        </div>
                        <div class="tile-hide"></div>
                    </td>
                    <td id="td2" style="width: 238px; height: 200px;" data-down="td6" data-left="td1" data-right="td3" jumptype="4" pagecode="6" exampage="2" itemname="" itemnametype="0">
                        <div class="tile">
                            <img id="CM20160912001_td2" class="lazy" src="__PUBLIC__/img/peihu/order_zghz.png" data-src="__PUBLIC__/img/peihu/order_zghz.png">
                        </div>
                        <div class="tile-hide"></div>
                    </td>
                    <td id="td3" style="width: 238px; height: 200px;" data-down="td7" data-left="td2" jumptype="4" pagecode="6" exampage="3" itemname="" itemnametype="0">
                        <div class="tile">
                            <img id="CM20160912001_td3" class="lazy" src="__PUBLIC__/img/peihu/order_zgzllr.png" data-src="__PUBLIC__/img/peihu/order_zgzllr.png">
                        </div>
                        <div class="tile-hide"></div>
                    </td>
                </tr>
                <tr>
                    <td id="td4" style="width: 238px; height: 200px;" data-right="td5" data-up="td0" jumptype="4" pagecode="6" exampage="4" itemname="" itemnametype="0">
                        <div class="tile">
                            <img id="CM20160912001_td4" class="lazy" src="__PUBLIC__/img/peihu/order_zgbzllr.png" data-src="__PUBLIC__/img/peihu/order_zgbzllr.png">
                        </div>
                        <div class="tile-hide"></div>
                    </td>
                    <td id="td5" style="width: 238px; height: 200px;" data-left="td4" data-right="td6" data-up="td1" jumptype="4" pagecode="6" exampage="5" itemname="" itemnametype="0">
                        <div class="tile">
                            <img id="CM20160912001_td5" class="lazy" src="__PUBLIC__/img/peihu/order_zgbr.png" data-src="__PUBLIC__/img/peihu/order_zgbr.png">
                        </div>
                        <div class="tile-hide"></div>
                    </td>
                    <td id="td6" style="width: 238px; height: 200px;" data-left="td5" data-right="td7" data-up="td2" jumptype="4" pagecode="6" exampage="6" itemname="" itemnametype="0">
                        <div class="tile">
                            <img id="CM20160912001_td6" class="lazy" src="__PUBLIC__/img/peihu/order_sycw.png" data-src="__PUBLIC__/img/peihu/order_sycw.png">
                        </div>
                        <div class="tile-hide"></div>
                    </td>
                    <td id="td7" style="width: 238px; height: 200px;" data-left="td6" data-up="td3" jumptype="4" pagecode="6" exampage="7" itemname="" itemnametype="0">
                        <div class="tile">
                            <img id="CM20160912001_td7" class="lazy" src="__PUBLIC__/img/peihu/order_more.png" data-src="__PUBLIC__/img/peihu/order_more.png">
                        </div>
                        <div class="tile-hide"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="margin-top:30px;text-align:center">
        <label style="text-align:center;padding:5px;padding-left:20px;padding-right:20px;font-size:22px;border: 1px solid #808080;" id="btn_next">下一步</label>
    </div>
</div>

