<layout name="Layout/content" />
    {:loadfile('__PUBLIC__/css/deep_blue/list','css')}    
    {:loadfile('__PUBLIC__/js/base/tableEvent','js')}
    {:loadfile('__PUBLIC__/js/mod/list/list','js')}
    {:loadfile('__PUBLIC__/js/tools/titleRollTool','js')}
<script type="text/javascript">
    function init() {
        if (typeof (page_init) == "function")
            page_init();
    }
</script>
<div class="page-list-title">
    <div class="list-title" id="page-title">
        <!--<label id="lbltitle">养生健康</label>-->
    </div>
    <div class="list-pageNumber" id="page-number">
        <!--<label>1</label>
        <label style="font-size: 20px;">/1</label>-->
    </div>
</div>
<div class="page-list" id="page_content">
    
</div>
