<layout name="Layout/content" />
    {:loadfile('__PUBLIC__/css/deep_blue/list','css')}
    {:loadfile('__PUBLIC__/js/base/tableEvent','js')}
    {:loadfile('__PUBLIC__/js/mod/list/list_restaurant_food','js')}
<script type="text/javascript">
    function init() {
        if (typeof (page_init) == "function")
            page_init();
    }
</script>
<div class="page-list-title">
    <div class="list-title" id="page-title">
        <label id="lbltitle">餐厅 > 粗粮人家</label>
    </div>
    <div class="list-pageNumber" id="page-number">
        <label>1</label>
        <label style="font-size: 20px;">/1</label>
    </div>
</div>
<div class="page-list" id="page_content">
    <table class="restaurant-table">
        <tbody>
            <tr>
                <td id="td0" style="width: 259px; height: 187px;" jumptype="6" data-left="" data-up="" data-right="td1" data-down="td4" appcode="" videocode="CT032016081600133">
                    <div class="tile wrap">
                        <img style="width: 259px; height: 187px; z-index:1" src="__PUBLIC__/img/canting/food/food1.png">
                    </div>  
                    <div class="restaurant-table-content">
                        <label class="restaurant-table-content-name">名称：紫薯山药</label>
                        <label class="restaurant-table-content-money">22</label>
                        <label class="restaurant-table-content-sign">￥</label>
                    </div>                                        
                </td>
                <td id="td1" style="width: 259px; height: 187px;" jumptype="6" data-left="td0" data-up="" data-right="td2" data-down="td5" appcode="" videocode="CT032016081600134">
                    <div class="tile">
                        <img style="width: 259px; height: 187px;" class="lazy" src="__PUBLIC__/img/canting/food/food2.png">
                    </div>
                    <div class="restaurant-table-content">
                        <label class="restaurant-table-content-name">名称：瓦罐松茸汤</label>
                        <label class="restaurant-table-content-money">25</label>
                        <label class="restaurant-table-content-sign">￥</label>     
                    </div>
                </td>
                <td id="td2" style="width: 259px; height: 187px;" jumptype="6" data-left="td1" data-up="" data-right="td3" data-down="td6" appcode="" videocode="CT032016081600136">
                    <div class="tile">
                        <img style="width: 259px; height: 187px;" class="lazy" src="__PUBLIC__/img/canting/food/food3.png">
                    </div>
                    <div class="restaurant-table-content">
                        <label class="restaurant-table-content-name">名称：翡翠包菜肉卷</label>
                        <label class="restaurant-table-content-money">22</label>
                        <label class="restaurant-table-content-sign">￥</label>   
                    </div>
                </td>
                <td id="td3" style="width: 259px; height: 187px;" jumptype="6" data-left="td2" data-up="" data-right="td4" data-down="td7" appcode="" videocode="CT032016081600136">
                    <div class="tile">
                        <img style="width: 259px; height: 187px;" class="lazy" src="__PUBLIC__/img/canting/food/food4.png">
                    </div>
                    <div class="restaurant-table-content">
                        <label class="restaurant-table-content-name">名称：菠萝鸡</label>
                        <label class="restaurant-table-content-money">25</label>
                        <label class="restaurant-table-content-sign">￥</label>  
                    </div>
                </td>    
            </tr>
            <tr>
                <td id="td4" style="width: 259px; height: 187px;" jumptype="6" data-left="td3" data-up="td0" data-right="td5" data-down="" appcode="" videocode="CT032016081600136">
                    <div class="tile">
                        <img style="width: 259px; height: 187px;" class="lazy" src="__PUBLIC__/img/canting/food/food5.png">
                    </div>
                    <div class="restaurant-table-content">
                        <label class="restaurant-table-content-name">名称：豆皮炒青菜</label>
                        <label class="restaurant-table-content-money">14</label>
                        <label class="restaurant-table-content-sign">￥</label> 
                    </div>
                </td>    
                <td id="td5" style="width: 259px; height: 187px;" jumptype="6" data-left="td4" data-up="td1" data-right="td6" data-down="" appcode="" videocode="CT032016081600136">
                    <div class="tile">
                        <img style="width: 259px; height: 187px;" class="lazy" src="__PUBLIC__/img/canting/food/food6.png">
                    </div>
                    <div class="restaurant-table-content">
                        <label class="restaurant-table-content-name">名称：清炒西葫芦</label>
                        <label class="restaurant-table-content-money">12</label>
                        <label class="restaurant-table-content-sign">￥</label> 
                    </div>
                </td>    
                <td id="td6" style="width: 259px; height: 187px;" jumptype="6" data-left="td5" data-up="td2" data-right="td7" data-down="" appcode="" videocode="CT032016081600136">
                    <div class="tile">
                        <img style="width: 259px; height: 187px;" class="lazy" src="__PUBLIC__/img/canting/food/food7.png">
                    </div>
                    <div class="restaurant-table-content">
                        <label class="restaurant-table-content-name">名称：鹌鹑蛋煎豆腐</label>
                        <label class="restaurant-table-content-money">12</label>
                        <label class="restaurant-table-content-sign">￥</label> 
                    </div>
                </td>    
                <td id="td7" style="width: 259px; height: 187px;" jumptype="6" data-left="td6" data-up="td3" data-right="" data-down="" appcode="" videocode="CT032016081600136">
                    <div class="tile">
                        <img style="width: 259px; height: 187px;" class="lazy" src="__PUBLIC__/img/canting/food/food8.png">
                    </div>
                    <div class="restaurant-table-content">
                        <label class="restaurant-table-content-name">名称：蛋卷仔</label>
                        <label class="restaurant-table-content-money">20</label>
                        <label class="restaurant-table-content-sign">￥</label> 
                    </div>
                </td>    
            </tr>
        </tbody>
    </table>
</div>
